<div class="ui" >
  <div class="slider responsive">
    <div>
      <img style="width: 100%;" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Wireless/CEEX/SamsungOn7Prime/shopnow/viknesha_2018-01-24T14-38_57915f_Samsung-On7-PC-v10-lifestyle-1500x300._CB488348439_.jpg">
    </div>
    <div>
      <img style="width: 100%;" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Home/Vday/PCBunk_1500x300_r2._CB486625223_.jpg">
    </div>
    <div>
      <img style="width: 100%;" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Wireless/CEEX/Honor7X/Red/Honor-7X-red-PC-1500X300_new._CB486586245_.jpg">
    </div>
  </div>
</div>