<div id="globalheader" class="ui two column grid mobile reversed menu secondary inverted sticky fixed top blue stackable">
  <div class="column">
    <div class="ui two column grid">
      <div class="left floated column">
        <a class="browse header item" (click)="toogle()">
          <i class="white sidebar icon"></i>
        </a>
      </div>
      <div class="column centered">
        <div class="item inverted teal">
          <h3 class="ui center aligned header">
            Center
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui four column grid">
      <div class="eleven wide column">
        <div class="ui fluid icon input">
          <input type="text" placeholder="Search a very wide input...">
          <i class="search icon"></i>
        </div>
      </div>
      <div class="column float right">
          <div class="left floated column">
              <a class="item">
                  <div class="floating circular ui red label">22</div>
                  <i class="in cart icon large"></i>
                  
                </a>
            </div>
      </div>
    </div>
  </div>
  










  <!--<div class="item right">
      
  </div>-->
  <!--<a class="item ">
    <i class="user circle icon"></i>
  </a>-->


</div>