<div class="ui inverted segment no margin">
    lorem ipsum dolor     
 </div>
<app-menu></app-menu>

<div class="minimal pushable" ontouchstart>
  <div class="ui left demo vertical inverted labeled icon sidebar menu">
    <a class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item">
      <i class="block layout icon"></i>
      Topics
    </a>
    <a class="item">
      <i class="smile icon"></i>
      Friends
    </a>
  </div>

  <div class="ui bottom attached">
    
    <app-imageslider></app-imageslider>
    <!--<button class="ui primary button" (click)="toogle()">
      Save
      https://images-eu.ssl-images-amazon.com/images/I/41F9FSPwWOL._AC_UL260_SR200,260_FMwebp_QL70_.jpg 
      https://images-eu.ssl-images-amazon.com/images/I/414uW%2BkCpEL._AC_UL260_SR200,260_FMwebp_QL70_.jpg
      https://images-eu.ssl-images-amazon.com/images/I/41w5a0grFsL._AC_UL260_SR200,260_FMwebp_QL70_.jpg
      https://images-eu.ssl-images-amazon.com/images/I/41xABJJlD6L._AC_UL260_SR200,260_FMwebp_QL70_.jpg 

    </button>-->
    <div class="ui four doubling cards">
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button">Add Friend</div>
              </div>
            </div>
          </div>
          <img src="https://images-eu.ssl-images-amazon.com/images/I/41F9FSPwWOL._AC_UL260_SR200,260_FMwebp_QL70_.jpg ">
        </div>
        <div class="content">
          <a class="header">Team Fu</a>
          <div class="meta">
            <span class="date">Create in Sep 2014</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">Shop</div>
            <div class="visible content">
              <i class="shop icon"></i>
            </div>
          </div>
          <div class="ui animated fade button" tabindex="0">
            <div class="visible content">Buy Now</div>
            <div class="hidden content">
              $12.99
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button">Add Friend</div>
              </div>
            </div>
          </div>
          <img src="https://images-eu.ssl-images-amazon.com/images/I/414uW%2BkCpEL._AC_UL260_SR200,260_FMwebp_QL70_.jpg">
        </div>
        <div class="content">
          <a class="header">Team Fu</a>
          <div class="meta">
            <span class="date">Create in Sep 2014</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">Shop</div>
            <div class="visible content">
              <i class="shop icon"></i>
            </div>
          </div>
          <div class="ui animated fade button" tabindex="0">
            <div class="visible content">Buy Now</div>
            <div class="hidden content">
              $12.99
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button">Add Friend</div>
              </div>
            </div>
          </div>
          <img src="https://images-eu.ssl-images-amazon.com/images/I/41w5a0grFsL._AC_UL260_SR200,260_FMwebp_QL70_.jpg">
        </div>
        <div class="content">
          <a class="header">Team Fu</a>
          <div class="meta">
            <span class="date">Create in Sep 2014</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">Shop</div>
            <div class="visible content">
              <i class="shop icon"></i>
            </div>
          </div>
          <div class="ui animated fade button" tabindex="0">
            <div class="visible content">Buy Now</div>
            <div class="hidden content">
              $12.99
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button">Add Friend</div>
              </div>
            </div>
          </div>
          <img src="https://images-eu.ssl-images-amazon.com/images/I/41xABJJlD6L._AC_UL260_SR200,260_FMwebp_QL70_.jpg ">
        </div>
        <div class="content">
          <a class="header">Team Fu</a>
          <div class="meta">
            <span class="date">Create in Sep 2014</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">Shop</div>
            <div class="visible content">
              <i class="shop icon"></i>
            </div>
          </div>
          <div class="ui animated fade button" tabindex="0">
            <div class="visible content">Buy Now</div>
            <div class="hidden content">
              $12.99
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button">Add Friend</div>
              </div>
            </div>
          </div>
          <img src="https://images-eu.ssl-images-amazon.com/images/I/41xABJJlD6L._AC_UL260_SR200,260_FMwebp_QL70_.jpg ">
        </div>
        <div class="content">
          <a class="header">Team Fu</a>
          <div class="meta">
            <span class="date">Create in Sep 2014</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">Shop</div>
            <div class="visible content">
              <i class="shop icon"></i>
            </div>
          </div>
          <div class="ui animated fade button" tabindex="0">
            <div class="visible content">Buy Now</div>
            <div class="hidden content">
              $12.99
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button">Add Friend</div>
              </div>
            </div>
          </div>
          <img src="https://images-eu.ssl-images-amazon.com/images/I/414uW%2BkCpEL._AC_UL260_SR200,260_FMwebp_QL70_.jpg">
        </div>
        <div class="content">
          <a class="header">Team Fu</a>
          <div class="meta">
            <span class="date">Create in Sep 2014</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">Shop</div>
            <div class="visible content">
              <i class="shop icon"></i>
            </div>
          </div>
          <div class="ui animated fade button" tabindex="0">
            <div class="visible content">Buy Now</div>
            <div class="hidden content">
              $12.99
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button">Add Friend</div>
              </div>
            </div>
          </div>
          <img src="https://images-eu.ssl-images-amazon.com/images/I/41VRZToOJDL._AC_UL260_SR200,260_FMwebp_QL70_.jpg">
        </div>
        <div class="content">
          <a class="header">Team Fu</a>
          <div class="meta">
            <span class="date">Create in Sep 2014</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">Shop</div>
            <div class="visible content">
              <i class="shop icon"></i>
            </div>
          </div>
          <div class="ui animated fade button" tabindex="0">
            <div class="visible content">Buy Now</div>
            <div class="hidden content">
              $12.99
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui inverted dimmer">
            <div class="content">
              <div class="center">
                <div class="ui primary button">Add Friend</div>
              </div>
            </div>
          </div>
          <img src="https://images-eu.ssl-images-amazon.com/images/I/41H8bjcGZPL._AC_UL260_SR200,260_FMwebp_QL70_.jpg">
        </div>
        <div class="content">
          <a class="header">Team Hess</a>
          <div class="meta">
            <span class="date">Create in Aug 2014</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">Shop</div>
            <div class="visible content">
              <i class="shop icon"></i>
            </div>
          </div>
          <div class="ui animated fade button" tabindex="0">
            <div class="visible content">Buy Now</div>
            <div class="hidden content">
              $12.99
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>